<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <!--font awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <script src="/static/js/main.js" defer></script>

</head>
<body>
    <h1>Cart content</h1>
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Count</th>
            <th>Sum</th>


        </tr>
        </thead>
        <div class="loop" th:each="prod,iterStat : ${relevantProducts}">
            <tr>
                <td th:text="${prod.getName()}">nsme</td>
                <td th:text="${prod.getPrice()}">g</td>
                <div class="hashLoop" th:each="entry : ${productData}">
                    <div class="if" th:if="${prod.getId() == entry.getKey()}">
                        <td th:text="${entry.getValue()}">1</td>
                        <div th:with="result=${entry.getValue() * prod.getDefaultPrice()}">
                            <td th:text="${numbers.formatDecimal(result,0,2)}"></td>
                        </div>

                    </div>
                </div>

            </tr>
        </div>

    </table>

    <div th:replace="footer.html :: copy"></div>
</body>
</html>