<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <!--font awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <script src="/static/js/util.js" defer></script>
    <script src="/static/js/cart.js" defer></script>

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Shopping cart</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Count</th>
            <th>Sum</th>
            <th>Remove/add</th>


        </tr>
        </thead>
        <div class="loop" th:each="prod,iterStat : ${relevantProducts}">
            <tr class="table_row">
                <td class="product_id" th:text="${prod.getId()}">0</td>
                <td th:text="${prod.getName()}">name</td>
                <td class="single_price" th:text="${prod.getPrice()}">g</td>
                <div class="hashLoop" th:each="entry : ${productData}">
                    <div class="if" th:if="${prod.getId() == entry.getKey()}">
                        <td class="product_count" th:text="${entry.getValue()}">1</td>
                        <div th:with="result=${entry.getValue() * prod.getDefaultPrice()}">
                            <td  class="sum_price" th:text="${numbers.formatDecimal(result,0,2)}"></td>
                        </div>

                    </div>
                </div>
                <th><i class="fas fa-arrow-circle-down fa-2x"></i><i class="fas fa-arrow-circle-up fa-2x"></i></th>

            </tr>
        </div>
    </table>
    <h2>Total Price: <span class="total_price"></span><span th:text="${relevantProducts.get(0).getDefaultCurrency()}"></span>
        <form action="/checkout"  method="post" class="checkout">
            <input type="submit" class="checkout_button" value="Checkout">
        </form>
    </h2>

    <div th:replace="footer.html :: copy"></div>
</body>
</html>