.glyphicon {
    margin-right:5px;
}

.container {
    padding: 2px 2px;
}

img {
    border-radius: 5px 5px 0 0;
}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.card-deck {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.card-deck:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.fa-shopping-cart{
    float: right;
}
.cart{
    float: right;
}

.item {
    padding: 10px;
}

table{
    width: 100%;
}

.checkout{
    float: right;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}